.header {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .menu-list {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-list li {
    display: inline-block;
    margin-right: 20px;
  }

  .logo {
    justify-content: center;
    display: flex;
    align-items: center;
  }